# Common
node_modules
experiments
build
*.log
*.lock
.DS_Store
TODO.md

# Transpiled modules
/classification
/clustering
/features
/helpers
/inflectors
/keyers
/metrics
/parsers
/phonetics
/regex
/stats
/stemmers
/structures
/tag
/tokenizers
