# Common
node_modules
build
*.log
.DS_Store
TODO.md

# Transpiled modules
/classification
/clustering
/features
/helpers
/keyers
/metrics
/parsers
/phonetics
/regex
/stats
/stemmers
/structures
/tag
/tokenizers
