
$baseurl: '{{ site.baseurl }}';
$grey-color: #828282;

@import 'tufte';
@import 'syntax-highlighting';

main {
  margin-top: 20px;
}

amp-img {
  background-color: grey;
}

article {
  padding: 2.5rem 0;
}

header {
  margin-top: 20px;
}

.post-meta {
  margin-top: 10px;
}

pre {
  width: 52.5%;
  padding-left: 2.5%;
  overflow-x: auto;
}

@media (max-width: 760px) {
  pre {
    width: 90%;
    padding: 0;
  }
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6;
}

.modules-list > ul {

  &, ul {
    padding-left: 2.5%;
    list-style-type: none;
  }

  & ul {
    width: 100%;
  }

  width: 55%;

  li {
    padding: 0;
  }
}

input[type=text] {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.3em;
  width: auto;
  // margin-left: 2.5%;
  line-height: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
  background: none;
  border: none;
}

input[type=text]:focus {
  outline: none;
  border: none;
}

::-webkit-input-placeholder {
  color: $grey-color;
}

::-moz-placeholder {
  color: $grey-color;
}

:-moz-placeholder {
  color: $grey-color;
}

:-ms-input-placeholder {
  color: $grey-color;
}

pre {
  border: 1px solid $grey-color;
  padding-top: 2.5%;
  padding-bottom: 2.5%
}

pre code {
  font-size: 0.9em;
}

.undocumented {
  color: $grey-color;
}
