
$baseurl: '{{ site.baseurl }}';
$black: #111;
$grey: #828282;
$red: #d14;
$green: #008080;

@import 'tufte';
@import 'syntax-highlighting';

main {
  margin-top: 20px;
}

amp-img {
  background-color: grey;
}

article {
  padding: 2.5rem 0;
}

header {
  margin-top: 20px;
}

.post-meta {
  margin-top: 10px;
}

pre {
  width: 52.5%;
  padding-left: 2.5%;
  overflow-x: auto;
}

@media (max-width: 760px) {
  pre {
    width: 90%;
    padding: 0;
  }
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6;
}

ul {
  width: 55%;

  & ul {
    width: 100%;
  }
}

.modules-list > ul {

  &, ul {
    padding-left: 2.5%;
    list-style-type: none;
  }

  li {
    padding: 0;
  }
}

span {
  &.success {
    color: $green;
  }

  &.error {
    color: $red;
  }
}

input[type=text] {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.3em;
  width: 100%;
  line-height: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
  background: none;
  border: none;
  border-bottom: 1px solid $grey;

  &.success {
    border-color: $green;
  }

  &.error {
    border-color: $red;
  }
}

input[type=text]:focus {
  outline: none;
}

.bar  {
  position: relative;
  display: block;
  width: 100%;

  &.success:before, &.success:after {
    background: $green;
  }

  &.error:before, &.error:after {
    background: $red;
  }
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  top: calc(-1.4rem - 1px);
  background: $black;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: calc(50% + 1px);
}

::-webkit-input-placeholder {
  color: $grey;
}

::-moz-placeholder {
  color: $grey;
}

:-moz-placeholder {
  color: $grey;
}

:-ms-input-placeholder {
  color: $grey;
}

pre {
  border: 1px solid $grey;
  padding-top: 2.5%;
  padding-bottom: 2.5%
}

pre code {
  font-size: 0.9em;
}

.undocumented {
  color: $grey;
}

.type {
  color: $red;
}
